@media screen and (max-width: 768px) {
    #logo {
        height: 80px;
        margin-right: 10px;
    }
    
    header {
        padding: 10px;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Hamburger menu styles */
#menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

/* Rotate first and third bar */
.change .bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #menu-toggle {
        display: block;
    }
    
    nav {
        display: none;
    }

    /* Adjust header styles */
    header {
        justify-content: space-between;
    }
}

/* Show the navigation menu */
nav.show {
    display: block;
}

/* Prevent scrolling on body when menu is open */
.no-scroll {
    overflow: hidden;
}

/* menu bar place at right top corner */

@media screen and (max-width: 600px) {
    header {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-end; /* Align items to the right */
        justify-content: space-between; /* Space evenly between items */
        position: fixed; /* Fix header position */
        top: 0;
        right: 0; /* Position at the right */
        width: 100%;
        z-index: 1000;
    }
    header span{
        margin-right: auto;
    }
    #menu-toggle {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }
    
    
    
}



